<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="QuanLyDoAn" 
             connectionString="Data Source=DESKTOP-OREV608\SQLEXPRESS;Initial Catalog=QuanLyDoAnTotNghiep;Integrated Security=True" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>